* {
    background-color: rgb(220, 193, 173);
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color:#a4795b;
}
h3 {
    color:#a4795b;
}
h4 {
    color:#b7957d;
}
ol { 
    color:#b7957d
}