* {
    background-color: #ffeaf5;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.title {
    color:#ffeaf5;
    background: #eeb6d5;
    border: 4px solid #eeb6d5;
    height: auto;
    padding:15px;
}
.header {
    color:#ffeaf5;
    background: #eeb6d5;
    border: 4px solid #eeb6d5;
    height: auto;
    padding:15px;
}
.list { 
    color:#eeb6d5;
    background: #ffeaf5;
    border: 5px solid #eeb6d5;
    height: auto;
    padding:15px;
}
.instructions {
    color:#eeb6d5;
    background: #ffeaf5;
    border: 5px solid #eeb6d5;
    height: auto;
    padding:15px;
}
.para {
    color:#eeb6d5;
    background: #ffeaf5;
    border: 5px solid #eeb6d5;
    height: auto;
    padding:15px;
}